# [使用Pandas DataFrame输出报告](https://mp.weixin.qq.com/s/WG0tB1qNVg9Y3Gq8PSUduw)

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.DataFrame(np.random.randn(10,2)*100)
df

            0           1
0 -117.956022  114.439859
1   61.929907 -124.051036
2  -32.386032   72.183276
3 -128.576112   23.331313
4   48.990706   63.823299
5   15.507213   42.247134
6    1.604915  -23.789147
7  224.365830  -14.368919
8   25.141923  -60.887282
9   93.926602   66.804254

In [5]:
df.style.format("{:.2f}")

In [6]:
def highlight_num(row):
    return [
        'background-color:red;color:white' if cell <= 0
        else 'background-color:green;color:white'
        for cell in row
    ]

In [8]:
df.style.apply(highlight_num)

In [10]:
df.style \
  .apply(highlight_num) \
  .format('${0:,.2f}') \
  .set_caption('A Sample Table') \
  .set_properties(padding="20px", border='2px solid white')

In [11]:
df.at[1, 1] = None

# 添加样式
df.style \
  .highlight_null('lightgray') \
  .highlight_max(color='lightgreen') \
  .highlight_min(color='pink')

In [12]:
df = pd.DataFrame(np.random.randn(10, 2))
df.style \
  .background_gradient(cmap='Blues')

In [13]:
df.style.bar()

In [14]:
df.style \
  .format('{:.2f}') \
  .bar(align='mid', color=['#FCC0CB', '#90EE90']) \
  .set_caption('A Sample Table with Bar Chart') \
  .set_properties(padding="15px", border='2px solid white', width='300px')