### å†™åœ¨æœ€å‰
Pythonåœ¨æ•°æ®åˆ†æé¢†åŸŸæœ‰ä¸‰ä¸ªå¿…é¡»éœ€è¦ç†Ÿæ‚‰çš„åº“ï¼Œåˆ†åˆ«æ˜¯`pandas`,`numpy`å’Œ`matplotlib`ï¼Œå¦‚æœæ’ä¸ªä¼˜å…ˆçº§çš„è¯ï¼Œæˆ‘æ¨èå…ˆå­¦`pandas`ã€‚
* `numpy`ä¸»è¦ç”¨äºæ•°ç»„å’ŒçŸ©é˜µçš„è¿ç®—ï¼Œä¸€èˆ¬åœ¨ç®—æ³•é¢†åŸŸä¼šåº”ç”¨æ¯”è¾ƒå¤šã€‚
* `matplotlib`ç”¨äºä½œå›¾çš„è¯å…¶å®å¯æ›¿ä»£çš„åº“ä¼šæ¯”è¾ƒå¤šï¼Œè­¬å¦‚æœ‰å°è£…çš„æ›´é«˜çº§çš„`seaborn`ï¼Œè°ƒç”¨èµ·æ¥ä¼šæ›´æ–¹ä¾¿ï¼Œä¹Ÿæœ‰äº¤äº’æ€§æ›´å¼ºçš„`pyecharts`,é£æ ¼ä¼šæ›´è®¨å–œã€‚

ä½†å¯¹äº`pandas`ï¼Œä¼¼ä¹å®Œå…¨ç»•ä¸å¼€ï¼Œå½“ç„¶è¿™ä¸‰ä¸ªåº“éƒ½æ˜¯éå¸¸ä¼˜ç§€çš„åº“ï¼Œå¦‚æœä½ å·²ç»å…¥å‘æ•°æ®åˆ†æï¼Œå»ºè®®å…¨å­¦ğŸŒã€‚

### åŸºæœ¬ç”¨æ³•
#### è¯»å–æ•°æ®
##### ğŸ’¥SQL
sqlè¯»å–æ•°æ®å…¶å®æ²¡å•¥å¯è¯´çš„ï¼Œä¸€å¥ç®€å•çš„`select * from table_name`å°±OKäº†ã€‚
##### ğŸ’¥Pandas
`pandas`æ”¯æŒçš„æ•°æ®æºå¾ˆå¤šï¼ŒåŒ…æ‹¬csvï¼Œexcelï¼Œä»¥åŠè¯»å–æ•°æ®åº“ï¼Œå½“ç„¶è¯»å–æ•°æ®åº“çš„è¯éœ€è¦é…åˆå…¶ä»–åº“ï¼ŒåŒ…æ‹¬oracleï¼Œmysqlï¼Œverticaç­‰ç­‰éƒ½æ˜¯æ”¯æŒçš„ã€‚
å¸¸è§çš„å¦‚ä¸‹ï¼š
  * `pandas.read_csv()`ï¼šç”¨äºè¯»å–csvæ–‡ä»¶ï¼›
  * `pandas.read_excel()`ï¼šç”¨äºè¯»å–Excelæ–‡ä»¶ï¼›
  * `pandas.read_json()` ï¼šç”¨äºè¯»å–jsonæ–‡ä»¶ï¼›
  * `pandas.read_sql()`ï¼šç”¨äºè¯»å–æ•°æ®åº“ï¼Œä¼ å…¥sqlè¯­å¥ï¼Œéœ€è¦é…åˆå…¶ä»–åº“è¿æ¥æ•°æ®åº“ã€‚
	
ç”±äºæ²¡æœ‰æ•°æ®åº“èµ„æºï¼Œæˆ‘è¿™è¾¹å°±å·²csvæ–‡ä»¶ä¸ºä¾‹ï¼š

In [1]:
import pandas as pd

data = pd.read_csv('/home/kesci/work/directory.csv', encoding='utf-8')
# data.head()é»˜è®¤æ˜¾ç¤ºå‰5æ¡è®°å½•ï¼Œ
# ç±»ä¼¼è¿˜æœ‰data.tail()ï¼Œè·å–å5æ¡è®°å½•
data.head(2)

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42

#### ç­›é€‰åˆ—
##### ğŸ’¥SQL
```sql
select city, country
from table_name
```
##### ğŸ’¥Pandas

In [2]:
# ç­›é€‰ä¸€åˆ—
# è¿™æ ·è¿”å›çš„æ˜¯series
data['City'].head()

0    Andorra la Vella
1               Ajman
2               Ajman
3           Abu Dhabi
4           Abu Dhabi
Name: City, dtype: object

In [3]:
# è¿™æ ·è¿”å›çš„æ˜¯dataframeï¼Œæ³¨æ„å·®åˆ«
data[['City']].head()

               City
0  Andorra la Vella
1             Ajman
2             Ajman
3         Abu Dhabi
4         Abu Dhabi

In [4]:
# ç­›é€‰å¤šåˆ—
data[['City','Country']].head()

               City Country
0  Andorra la Vella      AD
1             Ajman      AE
2             Ajman      AE
3         Abu Dhabi      AE
4         Abu Dhabi      AE

#### ç­›é€‰è¡Œ
##### ğŸ’¥SQL
sqlæœ¬èº«å¹¶ä¸æ”¯æŒç­›é€‰ç‰¹å®šè¡Œï¼Œä¸è¿‡å¯ä»¥é€šè¿‡å‡½æ•°æ’åºç”Ÿæˆè™šæ‹Ÿåˆ—æ¥ç­›é€‰ã€‚
```sql
-- ç­›é€‰å‰100è¡Œ
select *
from table_name
limit 100
```
##### ğŸ’¥Pandas
pandasæ”¯æŒçš„æ–¹å¼å°±æ¯”è¾ƒå¤šäº†ï¼Œå¦‚æœä½ äº†è§£pythonçš„**åˆ‡ç‰‡**æ“ä½œï¼Œä»¥ä¸‹åº”è¯¥ä¼šæ¯”è¾ƒå¥½ç†è§£ã€‚
  * `data[:3]`ï¼šç­›é€‰å‰3è¡Œï¼›

In [5]:
data[:3]

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39

 * `data[1:10:2]`ï¼šç­›é€‰1åˆ°10è¡Œä¸­çš„å¥‡æ•°è¡Œï¼Œæœ€åä¸€ä¸ªæ•°å­—`2`è¡¨ç¤ºæ¯éš”2è¡Œå–æ•°ï¼›

In [6]:
data[1:10:2]

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
5,Starbucks,17688-182164,"Dalma Mall, Ground Floor",Licensed,"Dalma Mall, Mussafah",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.49,24.40
7,Starbucks,23359-229184,Debenhams Yas Mall,Licensed,Yas Island,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.61,24.46
9,Starbucks,20423-205465,Eastern Mangroves,Licensed,"Al Salam Street, The Mangroves",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48

#### è¡Œåˆ—åŒæ—¶ç­›é€‰ 
##### ğŸ’¥Pandas
pandasä¸»è¦æœ‰`data.iloc`å’Œ`data.loc`æ¥æ”¯æŒè¡Œåˆ—ç­›é€‰ï¼Œè™½ç„¶è¿˜æœ‰`data.ix`,ä½†åœ¨ç›®å‰æœ€æ–°çš„`pandas`å·²ç»å°†å…¶å¼ƒç”¨äº†ã€‚
å…¶å®æˆ‘ä¸€å¼€å§‹å¯¹è¿™ä¸¤ä¸ªæ–¹æ³•å¾ˆå®¹æ˜“æ··æ·†ï¼Œå…¶å®åé¢å‘ç°å¾ˆå¥½åŒºåˆ†ï¼Œå¦‚æœéœ€è¦ç”¨åˆ—åæ¥ç­›é€‰ï¼Œè¯·ç”¨`loc`ï¼Œå¦‚æœä½¿ç”¨åˆ—ç´¢å¼•ï¼Œè¯·ç”¨`iloc`ã€‚

In [7]:
# æ ¹æ®åˆ—åï¼Œè¯·ç”¨loc
# ç­›é€‰1åˆ°10è¡Œçš„å¥‡æ•°è¡Œï¼ŒCityå’ŒCountryåˆ—
data.loc[1:10:2,['City','Country']]

        City Country
1      Ajman      AE
3  Abu Dhabi      AE
5  Abu Dhabi      AE
7  Abu Dhabi      AE
9  Abu Dhabi      AE

In [8]:
# ç­›é€‰ç¬¬2å’Œç¬¬4è¡Œï¼ŒCityå’ŒCountryåˆ—
data.loc[[2,4],['City','Country']]

        City Country
2      Ajman      AE
4  Abu Dhabi      AE

In [9]:
# æ ¹æ®åˆ—ç´¢å¼•ï¼Œè¯·ç”¨iloc
# ç­›é€‰1åˆ°10è¡Œçš„å¥‡æ•°è¡Œï¼Œ2åˆ°5åˆ—
data.iloc[1:10:2,2:5]

                 Store Name Ownership Type                  Street Address
1          Ajman Drive Thru       Licensed            1 Street 69, Al Jarf
3                Twofour 54       Licensed                 Al Salam Street
5  Dalma Mall, Ground Floor       Licensed            Dalma Mall, Mussafah
7        Debenhams Yas Mall       Licensed                      Yas Island
9         Eastern Mangroves       Licensed  Al Salam Street, The Mangroves

In [10]:
# ç­›é€‰1åˆ°10è¡Œçš„å¥‡æ•°è¡Œï¼Œ2åˆ°10åˆ—ä¸­æ¯éš”3åˆ—å–ä¸€åˆ—
data.iloc[1:10:2,2:10:3]

                 Store Name       City Postcode
1          Ajman Drive Thru      Ajman      NaN
3                Twofour 54  Abu Dhabi      NaN
5  Dalma Mall, Ground Floor  Abu Dhabi      NaN
7        Debenhams Yas Mall  Abu Dhabi      NaN
9         Eastern Mangroves  Abu Dhabi      NaN

In [11]:
# ç­›é€‰ç¬¬2å’Œç¬¬4è¡Œï¼Œç¬¬3å’Œç¬¬5åˆ—
data.iloc[[2,4],[3,5]]

  Ownership Type       City
2       Licensed      Ajman
4       Licensed  Abu Dhabi

#### æ ¹æ®æ¡ä»¶ç­›é€‰
##### ğŸ’¥SQL
  ```sql
  select city, country
  from table_name
  where city = 'shanghai'
  ```
##### ğŸ’¥Pandas
åœ¨çœ‹ç¤ºä¾‹ä¹‹å‰éœ€è¦æé†’ä¸‹ï¼Œåœ¨Pandasä¸­å¹¶ä¸æ”¯æŒ`and` å’Œ`or`ï¼Œç›¸åº”çš„æ˜¯`&`å’Œ`|`ï¼Œè€Œä¸”ç”±äº`&`å’Œ`|`åœ¨è¿ç®—ä¼˜å…ˆçº§æ˜¯ä¼˜äº`==`  ,`>`ç­‰è¿ç®—ç¬¦ç­‰ï¼Œå› æ­¤åœ¨å¤šæ¡ä»¶ç­›é€‰éœ€è¦åŠ ä¸Šæ‹¬å·ï¼Œç±»ä¼¼`(a == 1) & (b > 2)`ã€‚

In [12]:
# ç­›é€‰Brandä¸ºStarbucks
data.loc[data['Brand'] == 'Starbucks'].head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
0,Starbucks,47370-257954,"Meritxell, 96",Licensed,"Av. Meritxell, 96",Andorra la Vella,7,AD,AD500,376818720,GMT+1:00 Europe/Andorra,1.53,42.51
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51

In [13]:
# ç­›é€‰Cityä¸ºshanghaiæˆ–è€…ä¸ºbeijing
data.loc[(data['City'] == 'shanghai') | (data['City'] == 'beijing')]

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
2511,Starbucks,26657-242588,City Concept Store,Joint Venture,"No.619,longchang Rd, Yangpu",shanghai,31,CN,200433,NaN,GMT+08:00 Asia/Beijing,121.54,31.27
2512,Starbucks,47212-257244,Ha lei Rd Store,Joint Venture,"Room 101,NO.882,Halei Rd, PuDong Distict",shanghai,31,CN,201320,NaN,GMT+08:00 Asia/Beijing,121.60,31.20
2517,Starbucks,48237-261284,Minxing Rd Store,Joint Venture,"NO.378,MinXing Rd, Yangpu District, é²ç­è·¯615å·102...",shanghai,31,CN,200433,NaN,GMT+08:00 Asia/Beijing,121.54,31.31

In [14]:
# ç­›é€‰Brandä¸ºStarbucksè€Œä¸”Cityä¸ºshanghai
data.loc[(data['Brand'] == 'Starbucks') & (data['City'] == 'shanghai')]

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
2511,Starbucks,26657-242588,City Concept Store,Joint Venture,"No.619,longchang Rd, Yangpu",shanghai,31,CN,200433,NaN,GMT+08:00 Asia/Beijing,121.54,31.27
2512,Starbucks,47212-257244,Ha lei Rd Store,Joint Venture,"Room 101,NO.882,Halei Rd, PuDong Distict",shanghai,31,CN,201320,NaN,GMT+08:00 Asia/Beijing,121.60,31.20
2517,Starbucks,48237-261284,Minxing Rd Store,Joint Venture,"NO.378,MinXing Rd, Yangpu District, é²ç­è·¯615å·102...",shanghai,31,CN,200433,NaN,GMT+08:00 Asia/Beijing,121.54,31.31

In [15]:
# ä½¿ç”¨.isin
data.loc[data['City'].isin(['shanghai', 'Ajman', 'wuhan'])]

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
2511,Starbucks,26657-242588,City Concept Store,Joint Venture,"No.619,longchang Rd, Yangpu",shanghai,31,CN,200433,NaN,GMT+08:00 Asia/Beijing,121.54,31.27
2512,Starbucks,47212-257244,Ha lei Rd Store,Joint Venture,"Room 101,NO.882,Halei Rd, PuDong Distict",shanghai,31,CN,201320,NaN,GMT+08:00 Asia/Beijing,121.60,31.20
2517,Starbucks,48237-261284,Minxing Rd Store,Joint Venture,"NO.378,MinXing Rd, Yangpu District, é²ç­è·¯615å·102...",shanghai,31,CN,200433,NaN,GMT+08:00 Asia/Beijing,121.54,31.31

In [16]:
# ç­›é€‰Timezoneåˆ—ä¸­åŒ…å«Asia
data.loc[data['Timezone'].str.contains('Asia')].head()

,Brand,Store Number,Store Name,Ownership Type,Street Address,City,State/Province,Country,Postcode,Phone Number,Timezone,Longitude,Latitude
1,Starbucks,22331-212325,Ajman Drive Thru,Licensed,"1 Street 69, Al Jarf",Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.42
2,Starbucks,47089-256771,Dana Mall,Licensed,Sheikh Khalifa Bin Zayed St.,Ajman,AJ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,55.47,25.39
3,Starbucks,22126-218024,Twofour 54,Licensed,Al Salam Street,Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.38,24.48
4,Starbucks,17127-178586,Al Ain Tower,Licensed,"Khaldiya Area, Abu Dhabi Island",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.54,24.51
5,Starbucks,17688-182164,"Dalma Mall, Ground Floor",Licensed,"Dalma Mall, Mussafah",Abu Dhabi,AZ,AE,NaN,NaN,GMT+04:00 Asia/Dubai,54.49,24.40

#### åˆ†ç»„èšåˆ
##### ğŸ’¥SQL
  ```sql
  select column_A, sum(column_B)
  from table_name
  group by column_A
  ```
##### ğŸ’¥Pandas
**åŸºæœ¬ç”¨æ³•ï¼š**
å¯¹DataFrameè¿›è¡Œgoupbyè¿ç®—åï¼Œè¿”å›çš„æ˜¯ä¸€ä¸ªgroupbyå¯¹è±¡ï¼Œæˆ‘ä»¬å¯ä»¥é€šè¿‡`.reset_index()`å°†å…¶è½¬ä¸ºDataFrameã€‚

In [17]:
# ä»¥Ownership Typeåˆ—åˆ†ç»„ï¼Œå¯¹Brandåˆ—è¿›è¡Œè®¡æ•°
# .reset_index()å°†groupbyå¯¹è±¡è½¬æˆdataframe
data.groupby(['Ownership Type'])['Brand','Country'].count().reset_index()

  Ownership Type  Brand  Country
0  Company Owned  11932    11932
1      Franchise    317      317
2  Joint Venture   3976     3976
3       Licensed   9375     9375

In [18]:
# ä»¥Countryå’ŒCityåˆ—è¿›è¡Œåˆ†ç»„ï¼Œå¯¹Longitudeè¿›è¡Œæ±‚å¹³å‡
data.groupby(['Country', 'City'])['Longitude'].mean().reset_index()

     Country                   City   Longitude
0         AD       Andorra la Vella    1.530000
1         AE              Abu Dhabi   54.643023
2         AE                  Ajman   55.470000
3         AE                 Al Ain   55.595000
4         AE              Al Barsha   55.230000
5         AE                  Dubai   55.256795
6         AE               Fujairah   56.315000
7         AE         Ras Al Khaimah   55.890000
8         AE                Sharjah   55.400000
9         AE          Umm Al Quwain   55.540000
10        AR             Avellaneda  -58.370000
11        AR               Boulogne  -57.870000
12        AR           Buenos Aires  -58.418378
13        AR                   Caba  -58.408000
14        AR                Cordoba  -64.223333
15        AR                 Ezeiza  -58.530000
16        AR               Martinez  -58.505000
17        AR                Mendoza  -68.826000
18        AR                  Moron  -58.650000
19        AR                  Pilar  -59.333333
20        AR                Quilmes  -58.260000
21        AR                Rosario  -60.660000
22        AR             San Isidro  -58.550000
23        AR              San Justo  -58.560000
24        AR               Santa Fe  -60.700000
25        AR                  Tigre  -58.660000
26        AR            Tortuguitas  -58.730000
27        AR          Vicente Lopez  -58.470000
28        AT               Salzburg   13.033333
29        AT              Schwechat   16.560000
...      ...                    ...         ...
5586      US                   York  -79.326250
5587      US               Yorktown  -76.475000
5588      US       Yorktown Heights  -73.780000
5589      US              Yorkville  -88.455000
5590      US             Youngstown  -80.660000
5591      US              Ypsilanti  -83.625000
5592      US                  Yreka -122.650000
5593      US              Yuba City -121.634000
5594      US                Yucaipa -117.090000
5595      US           Yucca Valley -116.400000
5596      US                  Yukon  -97.760000
5597      US                  Yulee  -81.555000
5598      US                   Yuma -114.558750
5599      US             Zanesville  -82.025000
5600      US                Zeeland  -86.020000
5601      US            Zephyr Cove -119.940000
5602      US             Zionsville  -86.280000
5603      US                 austin  -97.740000
5604      US         east greenbush  -73.710000
5605      US           forest grove -123.110000
5606      US                jamaica  -73.790000
5607      US              kennebunk  -70.540000
5608      US            san antonio  -98.610000
5609      US           westmoreland  -75.400000
5610      VN            Ho Chi Minh  106.710000
5611      VN                 HÃ  Ná»™i  105.825000
5612      VN  ThÃ nh Phá»‘ Há»“ ChÃ­ Minh  106.692353
5613      ZA           Johannesburg   28.040000
5614      ZA                 Menlyn   28.280000
5615      ZA                Midrand   28.110000

[5616 rows x 3 columns]

**é«˜é˜¶ç”¨æ³•ï¼š**
æˆ‘ä»¬å¯ä»¥åŒæ—¶å¯¹äºä¸åŒåˆ—é‡‡å–ä¸åŒçš„èšåˆè¿ç®—ï¼Œè­¬å¦‚å¯¹Aåˆ—ä½¿ç”¨`sum()`ï¼Œå¯¹Båˆ—ä½¿ç”¨`mean()`ï¼Œåœ¨SQLä¸­å…¶å®å¾ˆå¥½å®ç°çš„åŠŸèƒ½ï¼Œåœ¨Pandasæˆ‘ä»¬éœ€è¦å€ŸåŠ©`.agg()`æ¥å®ç° ã€‚

In [19]:
# å¯¹ä¸åŒåˆ—è¿›è¡Œä¸åŒå¯¹è¿ç®—
# å¯¹Longitudeè¿›è¡ŒMAXæ“ä½œï¼Œå¯¹Cityåˆ—è¿›è¡ŒCount
data.groupby(['Ownership Type']).agg({'Longitude':'max', 'City':'count'}).reset_index()

  Ownership Type  Longitude   City
0  Company Owned     143.14  11932
1      Franchise       7.75    317
2  Joint Venture     143.20   3976
3       Licensed     176.92   9360

In [20]:
# å¯¹ç»Ÿä¸€åˆ—è¿›è¡Œä¸åŒå¯¹æ“ä½œ
data.groupby(['Ownership Type'])['Longitude'].agg(['max',   'count']).reset_index()

  Ownership Type     max  count
0  Company Owned  143.14  11932
1      Franchise    7.75    317
2  Joint Venture  143.20   3975
3       Licensed  176.92   9375

#### è¿æ¥
##### ğŸ’¥SQL
```sql
select * 
from table_A  a
left join table_B  b
on a.id = b.id
```
##### ğŸ’¥Pandas
åœ¨Pandasä¸­æˆ‘ä»¬å¯ä»¥ä½¿ç”¨`pandas.merge()`æ¥å®Œæˆè¿æ¥å¯¹æ“ä½œã€‚

 ```python
  pandas.merge(left, right, how='inner', on=None, left_on=None, 
            right_on=None, left_index=False, right_index=False, sort=True)
  ```
å„å‚æ•°è§£é‡Šå¦‚ä¸‹ï¼š
 * leftï¼šä¸€ä¸ªDataFrameå¯¹è±¡ï¼›
 * rightï¼šå¦ä¸€ä¸ªDataFrameå¯¹è±¡ï¼›
 * howï¼šè¿æ¥æ–¹å¼ï¼Œé»˜è®¤ä¸ºinnerï¼ˆå†…è¿æ¥ï¼‰ï¼›
 * onï¼šè¿æ¥é”®ï¼Œå¿…é¡»åœ¨leftå’Œrightä¸¤ä¸ªDataFrameä¸­å­˜åœ¨ï¼Œå¦åˆ™ä½¿ç”¨left_onå’Œright_on;
 * left_onï¼šleftä¸­çš„è¿æ¥é”®ï¼›
 * right_onï¼šrightä¸­çš„è¿æ¥é”®ï¼›
 * left_index/right_indexï¼šé»˜è®¤ä¸ºFalseï¼Œå¦‚æœä¸ºTrueåˆ™ä½¿ç”¨ç´¢å¼•ä½œä¸ºè¿æ¥çš„é”®ã€‚

In [21]:
# ç”Ÿæˆä¸¤ä¸ªDataFrame
left = pd.DataFrame({
         'id':[1,2,3,4,5],
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
         {'id':[1,2,3,4,5],
         'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
         'subject_id':['sub2','sub4','sub3','sub6','sub5']})

df = pd.merge(left=left, right=right, on='subject_id', how='left')
df

   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

#### æ­£åˆ™è¡¨è¾¾å¼
##### ğŸ’¥SQL
ç›®å‰å¤§éƒ¨åˆ†æ•°æ®åº“éƒ½æ˜¯æ”¯æŒæ­£åˆ™è¡¨è¾¾å¼çš„ï¼Œå› ä¸ºä¸åŒæ•°æ®åº“å¯¹åº”çš„sqlè¯­æ³•ä¸ä¸€è‡´ï¼Œè¿™è¾¹å°±ä¸ä¸¾ä¾‹äº†ã€‚
##### ğŸ’¥Pandas

In [22]:
# ç”Ÿæˆä¸€ä¸ªDataFrame
df = pd.DataFrame({
         'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
         'Location':['æ¹–åŒ—çœæ­¦æ±‰å¸‚','å¹¿ä¸œçœæ·±åœ³å¸‚','å¹¿ä¸œçœå¹¿å·å¸‚','æ¹–å—çœé•¿æ²™å¸‚','æ¹–åŒ—çœé„‚å·å¸‚']})

df

     Name Location
0    Alex   æ¹–åŒ—çœæ­¦æ±‰å¸‚
1     Amy   å¹¿ä¸œçœæ·±åœ³å¸‚
2   Allen   å¹¿ä¸œçœå¹¿å·å¸‚
3   Alice   æ¹–å—çœé•¿æ²™å¸‚
4  Ayoung   æ¹–åŒ—çœé„‚å·å¸‚

In [23]:
# è¿”å›ä¸€åˆ—çš„æ—¶å€™expandä¸ºTrueè¿”å›çš„æ˜¯Dataframe
df['Location'].str.extract('(.*?)çœ', expand=True)

    0
0  æ¹–åŒ—
1  å¹¿ä¸œ
2  å¹¿ä¸œ
3  æ¹–å—
4  æ¹–åŒ—

In [24]:
# è¿”å›ä¸€åˆ—çš„æ—¶å€™expandä¸ºTrueè¿”å›çš„æ˜¯Dataframe
df['Location'].str.extract('(.*?)çœ(.*?)å¸‚', 
                            expand=True).rename(columns = {0: 'Province', 1: 'City'})

  Province City
0       æ¹–åŒ—   æ­¦æ±‰
1       å¹¿ä¸œ   æ·±åœ³
2       å¹¿ä¸œ   å¹¿å·
3       æ¹–å—   é•¿æ²™
4       æ¹–åŒ—   é„‚å·

In [25]:
# ä¸åŸDataFrameæ‹¼æ¥ï¼Œaxis=1è¡¨ç¤ºä¸ºæ¨ªå‘æ‹¼æ¥
pd.concat([df, df['Location'].str.extract('(.*?)çœ(.*?)å¸‚', expand=True
                                ).rename(columns = {0: 'Province', 1: 'City'})], axis=1)

     Name Location Province City
0    Alex   æ¹–åŒ—çœæ­¦æ±‰å¸‚       æ¹–åŒ—   æ­¦æ±‰
1     Amy   å¹¿ä¸œçœæ·±åœ³å¸‚       å¹¿ä¸œ   æ·±åœ³
2   Allen   å¹¿ä¸œçœå¹¿å·å¸‚       å¹¿ä¸œ   å¹¿å·
3   Alice   æ¹–å—çœé•¿æ²™å¸‚       æ¹–å—   é•¿æ²™
4  Ayoung   æ¹–åŒ—çœé„‚å·å¸‚       æ¹–åŒ—   é„‚å·

å½“ç„¶å¯¹äºpandasé™¤äº†æ­£åˆ™ä¹‹å¤–ï¼Œå…¶å®åœ¨`.str`ä¸­è¿˜å†…ç½®äº†å¾ˆå¤šå­—ç¬¦ä¸²çš„æ–¹æ³•ï¼Œå¦‚åˆ‡å‰²(`split`)ï¼Œæ›¿æ¢(`replace`)ç­‰ç­‰ã€‚

#### è‡ªå®šä¹‰å‡½æ•°
##### ğŸ’¥Pandas
Pandasä¸­å†…ç½®å¾ˆå¤šå¸¸ç”¨çš„æ–¹æ³•ï¼Œè­¬å¦‚æ±‚å’Œï¼Œæœ€å¤§å€¼ç­‰ç­‰ï¼Œä½†å¾ˆå¤šæ—¶å€™è¿˜æ˜¯æ»¡è¶³ä¸äº†éœ€æ±‚ï¼Œæˆ‘ä»¬éœ€è¦å–è°ƒç”¨è‡ªå·±çš„æ–¹æ³•ï¼ŒPandasä¸­å¯ä»¥ä½¿ç”¨`map()`å’Œ`apply()`æ¥è°ƒç”¨è‡ªå®šä¹‰çš„æ–¹æ³•ï¼Œéœ€è¦æ³¨æ„ä¸‹`map()`å’Œ`apply()`çš„åŒºåˆ«ï¼š
* `map()`ï¼šæ˜¯`pandas.Series()`çš„å†…ç½®æ–¹æ³•ï¼Œä¹Ÿå°±æ˜¯è¯´åªèƒ½ç”¨äºå•ä¸€åˆ—ï¼Œè¿”å›çš„æ˜¯æ•°æ®æ˜¯`Series()`æ ¼å¼çš„ï¼›
* `apply()`ï¼šå¯ä»¥ç”¨äºå•åˆ—æˆ–è€…å¤šåˆ—ï¼Œæ˜¯å¯¹æ•´ä¸ªDataFrameçš„å…ƒç´ è¿›è¡Œè¿ç®—ï¼Œè¿”å›ä¸€ä¸ªDataFrameã€‚

In [26]:
import numpy as np

# éšæœºç”Ÿæˆä¸€ä¸ªDataFrame
df = pd.DataFrame(np.random.randn(4, 3), columns=['A', 'B', 'C'])
df

          A         B         C
0  0.629036  1.877865  0.680789
1  0.051165  0.707852 -1.582209
2 -0.120585  0.212286 -0.633166
3  1.679280 -0.000678 -0.609797

In [27]:
# ä½¿ç”¨åŒ¿åå‡½æ•°lambda
# å–ç»å¯¹å€¼,è¿”å›çš„æ˜¯Series
df['A'].map(lambda x: abs(x))

0    0.629036
1    0.051165
2    0.120585
3    1.679280
Name: A, dtype: float64

In [28]:
# æ³¨æ„å·®åˆ«ï¼Œè¿”å›çš„æ˜¯dataframe
# ä½¿ç”¨apply
df[['A']].apply(lambda x: abs(x))

          A
0  0.629036
1  0.051165
2  0.120585
3  1.679280

In [29]:
# è‡ªå®šä¹‰å‡½æ•°
def _abs(x):
    return abs(x)

df.apply(_abs)

          A         B         C
0  0.629036  1.877865  0.680789
1  0.051165  0.707852  1.582209
2  0.120585  0.212286  0.633166
3  1.679280  0.000678  0.609797

#### DataFrameæ‹¼æ¥
å‰æ–‡æåˆ°äº†`merge()` ,å…¶å®ä¹Ÿç®—ä½œæ‹¼æ¥çš„ä¸€ç§ï¼Œå¦‚æœå°†`merge()`ç±»æ¯”ä¸º`join`æ“ä½œï¼Œæ¥ä¸‹æ¥è®²çš„æ‹¼æ¥å°†ç±»ä¼¼äºSQLä¸­çš„`union all`æ“ä½œã€‚

In [30]:
df1 = pd.DataFrame(np.random.randn(2, 3), columns=['A', 'B', 'C'])
df1

          A         B         C
0  0.768445 -0.242438  0.759581
1  0.070998 -1.877693 -0.987610

In [31]:
df2 = pd.DataFrame(np.random.randn(2, 3), columns=['B', 'C', 'D'])
df2

          B         C         D
0  1.320067 -0.900532  0.743605
1  0.859346  0.464837 -0.212688

In [32]:
# é»˜è®¤çºµå‘è¿æ¥ï¼Œå³unionæ“ä½œ
# ignore_indexä¸ºTrueä¸ºé‡æ–°ç”Ÿæˆç´¢å¼•
pd.concat([df1, df2], axis=0, ignore_index=True, sort=False)

          A         B         C         D
0  0.768445 -0.242438  0.759581       NaN
1  0.070998 -1.877693 -0.987610       NaN
2       NaN  1.320067 -0.900532  0.743605
3       NaN  0.859346  0.464837 -0.212688

In [33]:
# axis=1ä¸ºæ¨ªå‘è¿æ¥
pd.concat([df1, df2], axis=1)

          A         B         C         B         C         D
0  0.768445 -0.242438  0.759581  1.320067 -0.900532  0.743605
1  0.070998 -1.877693 -0.987610  0.859346  0.464837 -0.212688

In [34]:
# appendä¸ä¼šé‡æ–°ç”ŸæˆDataFrameï¼Œåœ¨åŸDFä¸Šæ·»åŠ 
df1.append(df2,sort=False)

          A         B         C         D
0  0.768445 -0.242438  0.759581       NaN
1  0.070998 -1.877693 -0.987610       NaN
0       NaN  1.320067 -0.900532  0.743605
1       NaN  0.859346  0.464837 -0.212688

### å†™åœ¨æœ€å
æœ¬æ¥æƒ³ç€Pandasç”¨äº†è¿™ä¹ˆä¹…äº†ï¼Œå†™ä¸ªæ•™ç¨‹åº”è¯¥ä¸éº»çƒ¦ï¼Œç»“æœè€—è´¹äº†ä¸¤ä¸ªä¸‹åˆä¹Ÿæ‰å†™äº†ç‚¹çš®æ¯›ã€‚å…¶å®å¦‚æœè¦å†™çš„è¯¦ç»†ç‚¹ï¼Œæ¯ä¸ªç‚¹éƒ½èƒ½å†™ç¯‡æ–‡ç« ï¼Œç¯‡å¹…æœ‰é™ï¼Œåªèƒ½ç‚¹åˆ°å³æ­¢ï¼Œåé¢å¦‚æœæƒ³åˆ°å†åšè¡¥å……å§ã€‚

* ğŸŒˆ***æ•´ç†ä¸æ˜“ï¼Œæ¬¢è¿ç‚¹èµï¼ŒForkï½***